*
    padding 0
    margin 0
body
    background: linear-gradient(to bottom, rgba(35,31,32,1) 0%, rgba(35,31,32,1) 10%,  rgba(88,78,81,1) 100%);
    width 100%
    height 100vh
    box-sizing border-box
    font-family roboto

header
    width 100%
    text-align center
    display flex
    justify-content space-around
    align-items center
    img
        margin-top 2em
        max-width 200px

.content__form
    width 100%
    max-width 1024px
    margin 4em auto
    h1
        color #808080
        font-weight 100
    hr
        width 100%
        height 2px
        background #808080
        border none
        box-shadow 0px 0 #808080 inset
        

.subnav
    width 100%
    background-color rgba(0,0,0,.2)
    color #fff
    ul
        display flex
        li
            list-style none
            line-height 3
            padding 0 1em
            cursor pointer
form
    width 100%
    display flex
    justify-content space-around
    flex-wrap wrap
.input__grup
    display flex
    flex-direction column
    width 40%
    margin-top 1.2em
    
    input
        background-color transparent
        line-height 2
        padding .2em .5em
        outline none
        box-shadow 0px 2px 0 #808080
        border none
        margin-bottom .5em
        color #fff
        &:focus
            animation-name cargar
            animation-duration .3s
            animation-fill-mode forwards


    label
        color #808080
        text-transform uppercase
        
.btn
    line-height 2.5
    width 100px
    display block
    margin-left auto
    border none
    border-radius 3px
    background-color #00adef
    color #fff
    cursor pointer


.pestana
    display none

.pestana-active
    display flex


.menu
    background: linear-gradient(to bottom, rgba(35,31,32,1) 0%, rgba(35,31,32,1) 10%,  rgba(88,78,81,1) 100%);
    position absolute
    top -100vh
    left 0
    z-index 100
    width 100%
    height 100vh
    margin auto
    display flex
    justify-content space-around
    flex-wrap wrap
    transition all .5s
    &__item
        width 33.3%
        margin-top 4em
        a
            text-align center
            text-decoration none
            color #808080
            display flex
            flex-direction column
            justify-content flex-end
            align-items center
            img
                max-width 100%
                margin auto
            
            p
                margin-top .5em
                font-size 24px
                font-weight 100
        
        &:hover
            a
                color #fff
                text-decoration underline
            img
                animation-name saltar
                animation-duration .5s
                animation-fill-mode backwards
                animation-iteration-count infinite
                

.icon-menu
    width 16px
    height 20px
    cursor pointer
    span
        width 20px
        height 2px
        display block
        background-color #fff
        margin-top 3px
    .close-left
        transform rotateZ(45deg)
    .close-right
        transform rotateZ(-45deg)
        margin-top -2px
        

.menu-show
    top 0

@keyframes saltar
    0%{
        transform scale(1.1)
    }
    50%{
        transform scale(.9)
    }
    100%{
        transform scale(1)
    }

    
@keyframes cargar
    0%{
        box-shadow 0 0 0 #00adef 
    }
    100%{
        box-shadow 0 2px 0 #00adef 
    }