<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Reporte
	link(rel="stylesheet", href="css/formulario.css")
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
body
	nav.menu
		header
			img(src="./img/logo.png", alt="tracklog")
			div.icon-menu
				span.close-left
				span.close-right
		div.menu__item
			a(href="#")
				img(src="./img/choferes.png", alt="")
				p Relaci贸n de choferes
		div.menu__item
			a(href="#")
				img(src="./img/unidades.png", alt="")
				p Relaci贸n de unidades
		div.menu__item
			a(href="#")
				img(src="./img/rutas.png", alt="")
				p Creaci贸n de rutas
		div.menu__item
			a(href="#")
				img(src="./img/viajes.png", alt="")
				p Programaci贸n de viajes
		div.menu__item
			a(href="#")
				img(src="./img/salir.png", alt="")
				p Salir

	header
		img(src="./img/logo.png", alt="tracklog")
		div.icon-menu
			span.icon-top
			span.icon-middle
			span.icon-bottom

	section.container
		h1 Reporte de cumplimiento de hoja de ruta - Velocidades 
		hr
		br
		h3 Rango de fecha
		
		.container__graficas

		.container__table
			.tr
				.td Fecha
				.td Hora
				.td Unidad
				.td Tramo
				.td Coordenadas X
				.td Coordenadas Y
				.td Velocidad max.
				.td Velocidad Actual
			.tr
				.td 0
				.td 0
				.td 0
				.td 0
				.td 0
				.td 0
				.td 0
				.td 0
		.container__btn
			.btn__back
				a(href="") < Back
			.btn__export
				a(href="") PDF
				a(href="") XLS

	script(src="./js/main.js")
