.container__graficas
	width 100%
	min-width 1024px				
	height 350px
	background-color #fff
	margin 2em auto
	
.container__table
	width 100%
	min-width 1024px
	margin auto	
	.tr
		border-bottom 1px solid #fff
		width 100%
		display flex
		justify-content center
		color #fff
		.td
			text-align center
			box-sizing border-box
			width 100%
			display flex
			justify-content center
			line-height 2
			padding 0 .5em
			font-size .9em
			


.container__btn
	margin-top 3em
	display flex
	justify-content space-between
	align-items flex-end
	a
		color #fff
		text-decoration none
	.btn__back
		width 20%
		a:hover
			text-decoration underline
	.btn__export
		width 80%
		text-align right
		a
			margin-right 1em		